
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
    background-image: url('blue.png');
    background-size: cover;
}
h1{
    text-decoration: none;
    color: rgb(84, 0, 219);
    font-family: "Great Vibes", cursive;
    font-size: 80px;
    text-align: left;
    text-shadow: 2px 2px 4px cornsilk;
    margin-left: 5%;
    margin-top: 3%;
}
#Today{
    font-family: "Nanum+Gothic", cursive;
    color:black;
    text-shadow: 2px 2px 4px grey;
    text-align: right;
    font-size:70px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5%;
    line-height: 60px;
}
#date{
    font-family: "Nanum+Gothic", cursive;
    text-shadow: 2px 2px 4px grey;
    text-align: right;
    margin-top: 0px;
    margin-right: 5%;
    margin-bottom: 10%;
    font-size: 50px;
    line-height: 80px;
}
p{
    color: powderblue;
    font-family: "Great Vibes", cursive;
    font-size: 60px;
    text-align: left;
    text-shadow: 2px 2px 4px rgb(56, 59, 228);
    margin-bottom: 10px;
    margin-top: 20px;
}
form{
    margin-left: 20px;
    margin-bottom: 60px;
}
.text{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.title{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pbutton{
    background-color: orange;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
    border-style: solid;
    border-color: orange;
    border-radius: 13px;
    font-size: 20px;    
}
#inputbox{
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1;
    border-color: darkblue;
    border-radius: 13px;
    font-size: 20px;
}
#xbutton{
    background: orange;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
    border-style: solid;
    border-color: orange;
    border-radius: 12px;
    font-size: 20px;
}